---
layout: nos-por-nos/base
---
{% assign nos-por-nos = site.data[page.lang].nos-por-nos %}

<div class="capa">
  <iframe src="https://player.vimeo.com/video/384171465" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<div class="texto">
  {{ content }}

  <div class="apostila">
    {% assign apostila = nos-por-nos.apostila %}
    {% if apostila %}
    <a href="{{ site.url | append: apostila.arquivo }}" title="{{ apostila.msg-download }}" target="_blank">
      <span>{{ apostila.titulo }}</span>
      <img src="{{ site.url | append: apostila.capa }}" alt="{{ apostila.legenda }}"/>
    </a>
    {% endif %}

    {% assign livro = nos-por-nos.livro %}
    {% if livro %}
    <a href="{{ site.url | append: livro.arquivo }}" title="{{ livro.msg-download }}" target="_blank">
      <span>{{ livro.titulo }}</span>
      <img src="{{ site.url | append: livro.capa }}" alt="{{ livro.legenda }}"/>
    </a>
    {% endif %}

    {% if page.lang == 'en' %}
    <a href="{{ site.url }}/assets/documentos/newsletter.pdf" title="Download our newsletter">
      <span>Newsletter</span>
      <img src="{{ site.url }}/assets/images/nos-por-nos/newsletter.jpg" title="Newsletter thumbnail, with a picture of a women group"/>
    </a>
    {% endif %}
  </div>
</div>
