---
layout: nos-por-nos/base
---
{% assign nos-por-nos = site.data[page.lang].nos-por-nos %}

<div class="capa">
  <img alt="{{ nos-por-nos.descricao-capa-novella}}" src="{{ site.baseurl }}/assets/images/nos-por-nos/capa-novella.png"/>
</div>

<div class="texto">
{{ content }}
</div>

<div class="midia">
  <div class="capitulos">
    {% for capitulo in site.data.novella.capitulos %}
    {% assign gerais = site.data[page.lang].gerais %}
    <div class="capitulo" id="{{ forloop.index }}">
      <div>
        <strong>{{ nos-por-nos.capitulo }} {{ forloop.index }}</strong>
      </div>
      {% if capitulo.direcao_audio != '' %}
      {% assign audio = site.baseurl | append: capitulo.direcao_audio %}
      <a href="{{ audio }}" class="download" title="Download"></a>
      <audio controls>
        <source src="{{ audio }}">
        {{ gerais.falta_audio }}
      </audio>
      {% else %}
      <div class="em-breve"><h3>{{ gerais.chegando }}</h3></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="album">
    <div class="miniatura">
    {% for foto in site.data.novella.fotos %}
      <img src="{{ foto.direcao }}" onclick="ampliaFoto(this);"/>
    {% endfor %}
    </div>
    <div class="ampliado">
      <span onclick="this.parentElement.style.display='none'" class="fechar">&times;</span>
      <img id="fotoAmpliada" src="{{ site.data.novella.fotos[0].direcao }}">
    </div>
  </div>
</div>
<script>
  function ampliaFoto(foto) {
    var expandida = document.getElementById("fotoAmpliada");
    expandida.src = foto.src;
    expandida.parentElement.style.display = "block";
  }
</script>
